@import '~antd/dist/antd.dark.less';


.LayoutContainer{
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.LayoutContent{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//ROW 1-----------------------------------
.HomeLayoutrow1{
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputSearchBarHome{
  width: 300px !important;
  border-radius: 8px !important;
}


//ROW 2-----------------------------------
.HomeLayoutrow2{
  height: 33%;
  width: 100%;
} 

//ROW 3-----------------------------------
.HomeLayoutrow3{
  height: 27%;
  width: 100%;
  display: flex;
  justify-content: center;
} 

.HomeLayoutCard1{
  min-height: 80%;
  width: 90%;
  background-color: #202026;
  border-radius: 10px;
}

//ROW 4-----------------------------------
.HomeLayoutrow4{
  margin-top: 20px;
  height: 27%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
} 

.HomeLayoutCard2{
  min-height: 80%;
  width: 49%;
  background-color: #202026;
  border-radius: 10px;
}

.HomeLayoutCard3{
  min-height: 80%;
  width: 49%;
  background-color: #202026;
  border-radius: 10px;
}