.HomeCarousel{
    width: 75vw;
    height: 300px;
    border-radius: 10px;
    // backdrop-filter: blur(100px); 
    // background-color: #c6d7ff1a;
    
    background: linear-gradient(to top right, #2e485f, #48707e);
    border-right: 1px solid rgba(255, 255, 255, 0.315);
    border-top: 1px solid rgba(255, 255, 255, 0.226);
   }
   
   .HomeRow2Content{
     width: 73vw !important;
     height: 300px;
     display: flex !important;
     flex-direction: row !important;
     justify-content: space-evenly;
     align-items: center;
   }
   
   .HomeBackImage {
     width: 230px;
     height: 230px;
     object-fit: cover;
     filter: brightness(95%);
     border-radius: 10px;
   }
   
   .HomeBackText {
     width: 60%;
     height: 300px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-left: 20px;
   }
   
   .HomeTopTitle {
     font-size: 55px;
     font-weight: 800;
   }
   
   .HomeTopDescription {
     font-size: 25px;
     display: flex;
     align-items: center;
     * {
       margin-right: 20px;
     }
   }
   
   .HomeButonDetails {
     font-size: 15px;
     font-weight: 600 !important;
     border-radius: 7px !important;
   }
   
   .HomeButtonContainer {
     margin-top: 20px;
     margin-bottom: 50px;
   }