@import '~antd/dist/antd.dark.css';

.sideBarContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 210px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 17px;
    padding-top: 20px;
    align-items: center;

    // background-color: #c6d7ff1a;
    // backdrop-filter: blur(100px);
    background: linear-gradient(to top, rgba(32, 41, 58, 0.685) 10%, rgba(36, 51, 71, 0.685) 32%, rgba(45, 66, 89, 0.692) 44%, rgba(47, 82, 109, 0.836) 68%, rgba(44, 92, 100, 0.911) 89%);
    border-right: 1px solid rgba(255, 255, 255, 0.103);

}

.SideBar_Title{
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    margin-left: 20px;
    color: white !important;
}

.SideBar_Icons{
    padding: 6px;
    padding-left: 47px;
    padding-right: 47px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.705);
    *{
        margin-right: 12px;
    }
    &:hover{
    color: rgba(255, 255, 255, 0.425);
    }
}

.SideBar_IconsActive{
   background: linear-gradient(156deg, rgba(57,212,213,1) 0%, rgba(54,172,236,1) 100%); 
}



.SideBar_footer{
    padding: 20px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.452);
}

@media screen and (max-width: 1250px){
    .sideBarContainer{
        display: none;
    }
}